*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-clr: #090c15;
    --secondary-bg-clr: #233056;
    --primary-clr: #52591D;
    --secondary-clr: #fff;
    --accent-clr: #ccc;
    --btn-bg-clr: #026e00;
    --btn-bg-hover-clr: #43853d;
    --table-bg-clr: #343a40;
}

body {
    background-color: var(--primary-bg-clr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
    text-align: center;
}

.header {
    background-color: var(--secondary-bg-clr);
    padding: 1.5rem 0;
    margin-bottom: 0.5em;
}

.header-title {
    color: var(--secondary-clr);
}

.header-subtitle {
    color: var(--accent-clr);
}

.header-subtitle__link {
    text-decoration: none;
    color: inherit;
    font-style: italic;
    transition: opacity 150ms ease-in-out;
}

.header-subtitle__link:hover {
    opacity: 0.75;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.navbar-label {
    width: 1em;
    aspect-ratio: 1;
}

.navbar-label__toggle,
.navbar-label__toggle::before,
.navbar-label__toggle::after {
    display: block;
    width: 1rem;
    aspect-ratio: 8;
    background: var(--secondary-clr);
    border-radius: 0.5rem;
    margin: auto;
}

.navbar-label__toggle {
    position: relative;
}

.navbar-label__toggle::before, .navbar-label__toggle::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: inherit;
}

.navbar-label__toggle::before {
    transform: translateY(0.4rem);
}

.navbar-label__toggle::after {
    transform: translateY(0.8rem);
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 75vw;
    background-color: var(--secondary-clr);
    list-style-type: none;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
    z-index: 1;
}

.navbar-menu::after {
    content: '';
    position: inherit;
    right: 0;
    top: 0;
    width: 25vw;
    height: inherit;
    transform: translateX(100%);
    background-color: var(--primary-bg-clr);
    opacity: 0.5;
}

.navbar-menu a {
    width: 100%;
    color: var(--primary-clr);
    text-decoration: none;
    transition: background-color 150ms ease-in-out;
    text-align: center;
}

.navbar-menu a:hover {
    background-color: #e0e0e0;
}

.navbar-menu__item {
    padding-left: 0.5rem;
    font-size: 2rem;
}

.navbar-label:focus ~ .navbar-menu {
    transform: scaleX(1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.container-button {
    color: var(--secondary-clr);
    background-color: var(--btn-bg-clr);
    font-weight: 700;
    font-size: 2em;
    padding: .5rem .75rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 150ms ease-in-out, color 100ms ease-in-out;
}

.container-button:hover {
    background-color: var(--btn-bg-hover-clr);
}

.container-address__checkbox {
    display: none;
}

.container-address__checkbox:checked ~ .container-address__label > .container-address__label-check::before,
.container-address__checkbox:checked ~ .container-address__label > .container-address__label-check::after {
    opacity: 1;
}

.container-address__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    color: var(--secondary-clr);
    font-weight: 700;
    transition: font-size 100ms ease-in-out;
}

.container-address__label:hover {
    font-size: 1.05rem;
}

.container-address__label:hover > .container-address__label-check {
    width: 1.1rem;
}

.container-address__label:hover > .container-address__label-check::before {
    opacity: 0.75 !important;
}

.container-address__label-check {
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1;
    background-color: transparent;
    border: var(--secondary-clr) solid 2px;
    border-radius: 0.15rem;
    position: relative;
    transition: width 100ms ease-in-out;
    z-index: -1;
}

.container-address__label-check::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--accent-clr);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.container-address__label-check::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--primary-bg-clr);
    clip-path: polygon(37% 79%, 44% 87%, 53% 87%, 88% 49%, 87% 44%, 83% 40%, 77% 40%, 49% 72%, 33% 54%, 25% 56%, 21% 61%, 26% 67%);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.container-error {
    display: none;
}

.container-loading {
    display: none; /* flex */
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 10em;
}

.container-loading__loader {
    --border-width: 0.5rem;
    border: var(--border-width) solid var(--accent-clr);
    border-top: var(--border-width) solid var(--primary-clr);
    border-radius: 50%;
    width: 5rem;
    aspect-ratio: 1;
    transform: rotate(0);
    animation: spin 1s linear infinite;
}

.container-user {
    display: none; /* flex */
    flex-direction: column;
    align-items: center;
    min-width: 15em;
    padding-block: 1rem;
    border-radius: 0.5rem;
    color: var(--secondary-clr);
    background-image: linear-gradient(140deg, var(--accent-clr) 0%, var(--btn-bg-hover-clr) 20%, var(--btn-bg-clr) 100%);
    font-size: 1rem;
    margin-top: 1rem;
    transition: transform 200ms ease-in-out;
    position: relative;
}

.container-user:hover {
    transform: scale(1.05) rotate(-5deg);
}

.container-user__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-image:
        radial-gradient(2rem circle at 1% 2%, var(--btn-bg-clr) 50%, transparent 53%),
        radial-gradient(1rem circle at 12.5% 30%, var(--btn-bg-hover-clr) 50%, transparent 53%),
        radial-gradient(3rem circle at 35% 10%, var(--accent-clr) 50%, transparent 53%),
        radial-gradient(0.5rem circle at 7.5% 70%, var(--secondary-clr) 50%, transparent 53%),
        radial-gradient(1.5rem circle at 20% 60%, var(--primary-clr) 50%, transparent 53%),
        radial-gradient(4rem circle at 65% 15%, var(--btn-bg-clr) 50%, transparent 53%),
        radial-gradient(2rem circle at 95% 70%, var(--primary-clr) 50%, transparent 53%),
        radial-gradient(1rem circle at 87.5% 20%, var(--secondary-clr) 50%, transparent 53%);
    border-radius: 0.5rem 0.5rem 0 0;
    background-size: cover;
    background-color: var(--secondary-bg-clr);
}

.container-user__picture {
    width: 5rem;
    aspect-ratio: 1;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    background-image: url("");
    border: 1px solid var(--secondary-clr);
    transition: filter 150ms ease-in-out, transform 300ms ease-in-out;
    isolation: isolate;
}

.container-user__picture:hover {
    filter: contrast(1.2);
    transform: rotate(10deg) scale(1.05);
}

.container-user__name {
    font-size: 1.5rem;
    margin-block-start: 0.5rem;
}

.container-user__name-nationality {
    display: inline-block;
    width: 2.5rem;
    aspect-ratio: 2;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-inline-start: 0.5rem;
    vertical-align: middle;
    transform: skew(0) scale(1);
    animation: wave 2s ease-in-out 250ms infinite alternate;
    position: relative;
}

.container-user__name-nationality::before,
.container-user__name-nationality::after {
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 150ms ease-in-out;
}

.container-user__name-nationality::before {
    content: attr(data-nat);
    bottom: calc(100% + 0.5rem);
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    background-color: var(--primary-bg-clr);
    border-radius: 0.25rem;
}

.container-user__name-nationality::after {
    --border-width: 0.25rem;
    content: '';
    bottom: calc(100% + 0.3rem);
    left: 1rem;
    width: 0;
    border-left: var(--border-width) solid transparent;
    border-right: var(--border-width) solid transparent;
    border-top: var(--border-width) solid var(--primary-bg-clr);
}

.container-user__name-nationality:hover::before,
.container-user__name-nationality:hover::after {
    transform: scale(1);
}

.container-user__address {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat( 4, 1fr );
    width: max-content;
    margin-block: 1rem;
}

.container-user__address-title {
    text-align: center;
    font-weight: 700;
}

.container-user__created {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    width: max-content;
    height: max-content;
    color: var(--accent-clr);
}

.container-sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-sort__checkbox {
    display: none;
}

.container-sort__button {
    position: relative;
}

.container-sort__button-label {
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.container-sort__data {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: max-content;
    padding: 1rem;
    background-color: var(--secondary-bg-clr);
    border-radius: 0 0 0.5rem 0.5rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
    z-index: 1;
}

.container-sort__data-item {
    cursor: pointer;
}

.container-sort__checkbox:checked ~ .container-sort__data {
    transform: scaleY(1);
}

.container-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 90vw;
    color: var(--secondary-clr);
    margin-block-end: 1rem;
}

.container-table__header {
    position: absolute;
    top: -1000px;
    left: -1000px;
    font-weight: 700;
}

.table-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    padding: 0.25rem;
    transition: background-color 200ms ease-in-out;
}

.table-row > div {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding-inline-end: 1rem;
    padding-block: 1rem;
    background-color: var(--table-bg-clr);
    text-align: right;
    margin-block-end: 0.25rem;
    transition: background-color 200ms ease-in-out;
    position: relative;
}

.table-row > div::before {
    content: attr(data-label);
    padding-inline: 1rem;
}

.table-row > div:last-child::after {
    width: 0;
}

.table-row > div:hover {
    background-color: var(--secondary-bg-clr);
}

.container-table__header-item.table-lastName,
.container-table__header-item.table-registrationDate {
    cursor: pointer;
    isolation: isolate;
}

.container-table__header-item.table-lastName::after,
.container-table__header-item.table-registrationDate::after {
    --border-width: 0.5rem;
    content: '';
    width: 0;
    margin-block: auto;
    margin-inline-start: var(--border-width);
    border-left: var(--border-width) solid transparent;
    border-right: var(--border-width) solid transparent;
    border-top: var(--border-width) solid var(--secondary-clr);
    transition: transform 100ms ease-in-out;
}

.container-table__header-checkbox {
    display: none;
}

.lastName-checkbox:checked ~ .table-lastName::after,
.registrationDate-checkbox:checked ~ .table-registrationDate::after {
    transform: rotate(-180deg);
}

.container-table__header-item__label {
    position: absolute;
    inset: 0;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .navbar-label {
        display: none;
    }

    .navbar-menu {
        position: static;
        flex-direction: row;
        height: unset;
        padding-top: 0;
        width: max-content;
        background-color: transparent;
        transform: scale(1);
    }

    .navbar-menu::after {
        content: unset;
    }

    .navbar-menu a {
        position: relative;
    }

    .navbar-menu a:hover {
        background-color: transparent;
    }

    .navbar-menu a::after {
        content: '';
        position: absolute;
        inset: 100% 0.5rem 0;
        width: calc(100% - 1rem);
        height: 2px;
        background-color: var(--accent-clr);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .navbar-menu a:hover::after {
        opacity: 1;
    }

    .navbar-menu__item {
        color: var(--accent-clr);
        font-size: 1.5rem;
        padding: 0 0.5rem;
    }

    .container-loading {
        width: 20em;
        height: 15em;
    }

    .container-loading__loader {
        --border-width: 1rem;
        width: 7.5rem;
    }

    .container-user {
        min-width: 20em;
        font-size: 1.5rem;
    }

    .container-user__background {
        height: 6rem;
    }

    .container-user__picture {
        width: 10rem;
    }

    .container-user__name {
        font-size: 2.5rem;
    }

    .container-user__name-nationality {
        width: 3.5rem;
        margin-inline-start: 1rem;
    }

    .container-user__name-nationality::before {
        font-size: 1.25rem;
    }

    .container-user__name-nationality::after {
        --border-width: 0.5rem;
        bottom: calc(100% + 0.2rem);
        left: 1.25rem;
    }

    .container-user__address {
        margin-block-end: 3rem;
    }

    .container-sort {
        display: none;
    }

    .container-table {
        gap: 0;
        width: 80vw;
    }

    .table-row {
        flex-direction: row;
        align-items: stretch;
        position: relative;
        transition: opacity 400ms ease-in-out;
        padding: 0;
        margin-block-end: 0.25rem;
    }

    .container-table__header {
        position: initial;
        top: unset;
        left: unset;
        margin-block-end: 0.35rem;
    }

    .table-row > div::before,
    .table-row > div::after {
        content: unset;
    }

    .table-row > div {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .table-row:hover > div {
        background-color: #35426a;
    }

    .table-row > div:hover {
        opacity: 0.85;
    }

    .table-row > div:first-child {
        justify-content: start;
        padding-inline-start: 1rem;
    }

    .table-row > div:last-child {
        justify-content: end;
    }
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

@keyframes wave {
    to {
        transform: skew(10deg) scale(1.1);
    }
}